@import "tailwindcss";

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #e5f7fe;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #00b4f1;
  border-radius: 14px;
  border: 3px solid var(--primary);
}

html,
body {
  background: #fff;
}

.leaflet-popup-content-wrapper {
  width: 300px;
}
.leaflet-container a.leaflet-popup-close-button {
  top: 15px !important;
  right: 25px !important;
  font-size: 20px !important;
  color: #9ca3af impott !important;
}
::placeholder {
  font-size: 14px !important;
}
.container {
  @media (width >= 96rem) {
    max-width: 96rem !important;
  }
  @media (width <= 96rem) {
    max-width: 85rem !important;
  }
}

@media (min-width: 1440px) {
  .backpain_img {
    max-width: 400px;
  }
}
@media (max-width: 1440px) {
  .container {
    max-width: 1250px !important;
  }
  .backpain_img {
    max-width: 100%;
  }
}

@media (max-width: 1024px) {
  .header_qualify {
    width: 180px;
  }
}
@media (max-width: 992px) {
  .infocard_spacing {
    padding-bottom: 30px;
  }
  
}
@media (max-width: 650px) {
  .responsive_bgimage {
    margin-top: 25px;
    height: 300px;
    width: 600px;
  }
}
@media (max-width: 576px) {
  .responsive_bgimage {
    margin-top: 5px;
  }
   .infocard_spacing.last-infocard {
    padding-bottom: 8px !important;
  }
  .hero-bg-mobile {
    background-size: 100% auto !important;
    background-position: center bottom !important;
    width: 100vw !important;
    margin-left: calc(-50vw + 50%) !important;
  }
  .visible_class {
    display: none;
  }
  .responsive_logo {
    width: 123px;
    height: 38px;
  }
}

@media (max-width: 425px) {
  .responsive_bgimage {
    height: 250px;
  }
}
@media (max-width: 400px) {
  .responsive_bgimage {
    height: 200px;
  }
   .responsive_infocards{
    margin-top: 3rem;
  }
}
@media (max-width: 375px) {
  .responsive_bgimage {
    height: 200px;
  }
  .responsive_infocards{
    margin-top: 5rem;
  }
}

@media (max-width: 350px) {
  .responsive_bgimage {
    height: 180px;
  }
  .responsive_infocards{
    margin-top: 7rem;
  }
}
