@import "tailwindcss";

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #e5f7fe;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #00b4f1;
  border-radius: 14px;
  border: 3px solid var(--primary);
}

html,
body {
  background: #fff;
}
@media screen and (max-width: 650px) {
  .responsive_infocards {
    margin-top: 70px;
  }
}
@media screen and (max-width: 576px) {
  .responsive_infocards {
    margin-top: 100px;
  }
}
@media screen and (max-width: 576px) {
  .responsive_logo {
    width: 150px;
  }
}
.leaflet-popup-content-wrapper {
  width: 300px;
}
.leaflet-container a.leaflet-popup-close-button {
  top: 15px !important;
  right: 25px !important;
  font-size: 20px !important;
  color: #9ca3af impott !important;
}
::placeholder {
  font-size: 14px !important;
}
